.profile__edit-button {
  padding: 0;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  background-color: transparent;
  background-image: url('../../../images/profile-edit-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity .5s ease-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 846px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}

