.profile__content-container {
  display: flex;
  align-items: center;
  width: 80%;
}

@media screen and (max-width: 970px) {
  .profile__content-container {
    justify-content: center;
    margin-bottom: 26px;
    width: 100%;
  }
}

@media screen and (max-width: 806px) {
  .profile__content-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile__content-container {
    margin-bottom: 0;
  }
}
